/TuringMachine.class
/TuringMachine$TuringMachineModel$TuringMachineTuple$Direction.class
/TuringMachine$TuringMachineModel$TuringMachineTuple.class
/TuringMachine$TuringMachineModel.class
/TuringMachine$TuringMachineTuple.class
